<form action="{{ url('app_admin_utilisateur_delete', { id: utilisateur.id }) }}" method="post" onsubmit="return confirm('Etes vous sur de vouloir supprimer cet utilisateur?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.id) }}">
	<button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i></button>
</form>