{% extends './layout/base.html.twig' %}

{% block title %}
    Le Potager Caladois - Inscription 
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt4">Formulaire d'inscription</h1>

        {{ form(form) }}
    </div>
{% endblock %}