{% extends './layout/base.html.twig' %}

{% block title %}
	Création d'un nouveau produit |
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container-fluid mt-4">
		<div class="card w-50 mx-auto p-3">
			<h1 class="text-center">Création d'un produit</h1>
			{{ form(form) }}
		</div>
	</div>
{% endblock %}
