{% extends './layout/base.html.twig' %}

{% block title %}
	Liste des producteurs
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container mt-5 p-5">
		<h1>Producteurs</h1>
		<table class="table table-hover">
			<tbody>
				<div class="d-flex justify-content-around">
					{% for producteur in producteurs %}
						<div class="card w-25 d-flex">
							<div class="card-body">
								<h5 class="card-title">{{ producteur.nom}}</h5>
								<a href="{{ path('app_producteur.details', {'slug': producteur.slug}) }}" class="btn btn-primary">
									Voir le producteur "
									{{ producteur.nom}}
									"</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</tbody>
		</div>
	{% endblock %}
